<section class="dashboard-main">
  <h1><%= current_user.first_name %>'s Dashboard</h1>
  <% if current_user.active? %>
    <p>Status: Active</p>
  <% else %>
    <p>This account has not yet been activated. Please check your email.</p>
  <% end %>
  <%= button_to 'Log Out', logout_path, method: :delete, class: "btn btn-primary mb1 bg-teal" %>
  <%= button_to 'Send an Invite', new_invitation_path, method: :get, class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li><%= current_user.first_name %> <%= current_user.last_name %></li>
    <li><%= current_user.email%></li>
  </ul>
  <% unless @bookmarks.empty? %>
    <section id="bookmarks">
      <h1>Bookmarked Segments</h1>
      <% @bookmarks.each do |tutorial_id, videos| %>
        <section id="tutorial-<%= tutorial_id %>">
          <h3>Tutorial #<%= tutorial_id %></h3>
          <ul>
            <% videos.each do |video| %>
              <li><%= link_to video.title, video_path(video) %></li>
            <% end %>
          </ul>
        </section>
      <% end %>
    </section>
  <% end %>
  <% unless current_user.friends.empty? %>
    <section id="friends">
      <h3>Friends</h3>
      <ul>
        <% current_user.friends.each do |friend| %>
        <li><%= friend.first_name %> <%= friend.last_name %></li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <section id="github">
    <h1>GitHub</h1>
    <% if current_user.gh_token? %>
      <section id="github-repos">
        <h3>Repos</h3>
        <ul>
          <% @repos.each do |repo| %>
            <li><%= link_to repo.name, repo.url %></li>
          <% end %>
        </ul>
      </section>
      <section id="github-followers">
        <h3>Followers</h3>
        <ul>
          <% @followers.each do |follower| %>
            <li id="follower-<%= follower.login %>">
              <%= link_to follower.login, follower.url %>
              <% if current_user.friendable?(follower) %>
                <%= button_to 'Add as Friend', friendships_path(gh_uid: follower.uid) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </section>
      <section id="github-following">
        <h3>Following</h3>
        <ul>
          <% @following.each do |follow| %>
            <li id="following-<%= follow.login %>">
              <%= link_to follow.login, follow.url %>
              <% if current_user.friendable?(follow) %>
                <%= button_to 'Add as Friend', friendships_path(gh_uid: follow.uid) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </section>
    <% else %>
      <%= button_to 'Connect to GitHub', github_login_path, class: "btn btn-primary mb1 bg-teal" %>
    <% end %>
  </section>
</section>
