<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <section id="github">
    <h3>GitHub</h3>
    <% if gh_token %>
      <section id="github-repos">
        <h3>Repos</h3>
        <ul>
        <% @repos.each do |repo| %>
          <li> <%= link_to repo.name, repo.url %> </li>
        <% end %>
        </ul>
      </section>
      <section id="github-followers">
        <h3>Followers</h3>
        <ul>
        <% @followers.each do |follower| %>
          <li id="follower-<%= follower.login %>"> <%= link_to follower.login, follower.url %>
             | <%= link_to 'Add as Friend', friendships_path(gh_uid: follower.uid), method: :post  if current_user.friendable?(follower) %> </li>
        <% end %>
        </ul>
      </section>
      <section id="github-following">
        <h3>Following</h3>
        <ul>
        <% @following.each do |follow| %>
          <li id="following-<%= follow.login %>"> <%= link_to follow.login, follow.url %>
             | <%= link_to 'Add as Friend', friendships_path(gh_uid: follow.uid), method: :post if current_user.friendable?(follow) %> </li>
        <% end %>
        </ul>
      </section>
    <% else %>
      <%= button_to 'Connect to GitHub', github_login_path, class: "btn btn-primary mb1 bg-teal" %>
    <% end %>
  </section>
</section>
